@page "/UserListView"
<h3>UserListView</h3>

<div class="d-flex flex-column justify-center mt-16 mb-16">

    <MudList Class="d-flex align-self-center flex-row gap-4 ">

        @foreach (var imagePath in Images)
        {
            <MudListItem >
                <MudLink>
                    <MudImage Class="rounded-lg" Src="@imagePath" ObjectPosition="ObjectPosition.Center" ObjectFit="ObjectFit.Fill" Height="210" Width="150"></MudImage>
                </MudLink>
            </MudListItem>
        }

    </MudList>
</div>

@code {
    
    public List<string> Images { get; set; } = new();

    private async Task GetImages()
    {
        Images.Add("images/annie_hall.jpg");
        Images.Add("images/dogtooth.jpg");
        Images.Add("images/persona.webp");
        Images.Add("images/the_favourite.jpg");
        Images.Add("images/the_grand_budapest_hotel.jpg");
        Images.Add("images/good_bad_ugly.jpg");

    }
}