@page "/UserProfileView"
<h3>UserProfileView</h3>

<div Class="d-flex justify-center">
	<MudPaper Class="d-flex justify-center" Width="300px">
		<MudNavMenu>
			<MudNavLink Href="/UserEditInfoView">Edit Profile</MudNavLink>
			<MudDivider></MudDivider>
			<MudNavLink Href="">Lists</MudNavLink>
		</MudNavMenu>
	</MudPaper>
</div>


@code {
    
}