@page "/UserEditInfoView"
<h3>UserEditInfoView</h3>

@* <EditForm>
	<MudTextField></MudTextField>
	<MudTextField></MudTextField>
	<MudTextField></MudTextField>
	<MudTextField></MudTextField>
	<MudTextField></MudTextField>
	<MudTextField></MudTextField>
</EditForm> *@

<MudText>Hej</MudText>

@code {
	
}